{% extends "utb/layout.html" %}
{% block title %}
File: обработка однострочных символьных файлов | UnixTaskbook
{% endblock %}
{% block project-name %}
File: обработка однострочных символьных файлов
{% endblock %}
{% block content %}
<h1 id="file-обработка-однострочных-символьных-файлов">File: обработка однострочных символьных файлов</h1>

    <h2 id="формулировки-задач"><strong><em>Формулировки задач</em></strong></h2>

    <p><strong>File1:</strong> Дан символьный файл. Изменить порядок следования его элементов на противоположный.</p>

    <p><em>Например, файл с символами ABCDE должен измениться на EDCBA.</em></p>

    <hr>

    <p><strong>File2:</strong> Дан символьный файл. Заменить все входящие в него заглавные латинские буквы на маленькие
      и изменить порядок следования его элементов на противоположный.</p>

    <p><em>Например, файл с символами A12BmnCD9E должен измениться на e9dcnmb21a.</em></p>

    <hr>
    <p><strong>File3:</strong> Дан символьный файл, содержащий более 10 элементов. Уменьшить его размер до 10 элементов,
      удалив из файла необходимое количество конечных элементов.</p>

    <hr>
    <p><strong>File4:</strong> Дан символьный файл, содержащий четное количество элементов. Удалить из данного файла
      вторую половину элементов.</p>

    <hr>
    <p><strong>File5:</strong> Дан символьный файл, содержащий более 10 элементов. Уменьшить его размер до 10 элементов,
      удалив из файла необходимое количество начальных элементов.</p>

    <hr>
    <p><strong>File6:</strong> Дан символьный файл, содержащий четное количество элементов. Удалить из данного файла
      первую половину элементов.</p>

    <hr>
    <p><strong>File7:</strong> Дан символьный файл. Удалить из него все элементы с четными номерами (элементы нумеруются
      от 1).</p>

    <p><em>Например, файл с символами ABCDEFG должен измениться на ACEG.</em></p>

    <hr>
    <p><strong>File8:</strong> Дан символьный файл. Удалить из него все цифровые символы.</p>

    <p><em>Например, файл с символами A11B2CD43F должен измениться на ABCDF.</em></p>

    <hr>
    <p><strong>File9:</strong> Дан символьный файл. Удалить из него все заглавные латинские буквы и изменить порядок
      следования его элементов на противоположный.</p>

    <p><em>Например, файл с символами A11b2Cd43F должен измениться на 34d2b11.</em></p>

    <hr>
    <p><strong>File10:</strong> Дан символьный файл, содержащий менее 20 элементов. Увеличить его размер до 20
      элементов, записав в начало файла необходимое количество символов «A».</p>

    <hr>
    <p><strong>File11:</strong> Дан символьный файл. Удвоить его размер, записав в конец файла все его исходные элементы
      (в том же порядке).</p>

    <p><em>Например, файл с символами ABCD должен измениться на ABCDABCD.</em></p>

    <hr>
    <p><strong>File12:</strong> Дан символьный файл. Удвоить его размер, записав в конец файла все его исходные элементы
      (в обратном порядке).</p>

    <p><em>Например, файл с символами ABCD должен измениться на ABCDDCBA.</em></p>

    <hr>
    <p><strong>File13:</strong> Дан символьный файл. Продублировать в нем все элементы с нечетными номерами (элементы
      нумеруются от 1).</p>

    <p><em>Например, файл с символами ABCDEF должен измениться на AABCCDEEF.</em></p>

    <hr>
    <p><strong>File14:</strong> Дан символьный файл. Продублировать в нем все цифровые символы.</p>

    <p><em>Например, файл с символами A23EF4S должен измениться на A2233EF44S.</em></p>

    <hr>
    <p><strong>File15:</strong> Дан символьный файл. Заменить в нем каждый элемент с четным номером на два символа «X»
      (элементы нумеруются от 1).</p>

    <p><em>Например, файл с символами ABCDEF должен измениться на AXXCXXEXX.</em></p>

    <hr>
    <p><strong>File16:</strong> Дан символьный файл. Заменить в нем каждый цифровой символ на три символа «A».</p>

    <p><em>Например, файл с символами A1B2C34 должен измениться на AAAABAAACAAAAAA.</em></p>

    <hr>
    <p><strong>File17:</strong> Дан символьный файл с элементами A1, A2, …, AN (N — количество элементов в файле).
      Заменить исходное расположение его элементов на следующее:
      A1, AN, A2, AN−1, A3, … .</p>

    <p><em>Например, файл с символами ABCDEFGHI должен измениться на AIBHCGDFE.</em></p>

    <hr>
{% endblock %}