{% extends "utb/layout.html" %}
{% block title %}
Shell: порождение процессов и их взаимодействие | UnixTaskbook
{% endblock %}
{% block project-name %}
Shell: порождение процессов и их взаимодействие
{% endblock %}
{% block content %}
<h1 id="shell-порождение-процессов-и-их-взаимодействие">Shell: порождение процессов и их взаимодействие</h1>

    <h2 id="формулировки-задач"><strong><em>Формулировки задач</em></strong></h2>

    <p><strong>Shell1:</strong> Написать программу shellD1, моделирующую конструкцию командного интерпретатора:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>cmdA A1 A2 ... AN ; cmdB B1 B2 ... BM  
</code></pre>
      </div>
    </div>

    <p>Эта конструкция обеспечивает последовательное выполнение команд cmdA и cmdB: вначале запускается команда cmdA с
      параметрами A1, A2, …, AN, затем запускается команда cmdB с параметрами B1, B2, …, BM. Каждая команда использует
      стандартный вывод на экран.</p>

    <p>Формат вызова программы shellD1:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>shellD1 cmdA N A1 A2 ... AN cmdB M B1 B2 ... BM
</code></pre>
      </div>
    </div>

    <hr>

    <p><strong>Shell2:</strong> Написать программу shellD2, моделирующую конструкцию командного интерпретатора:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>cmdA A1 A2 ... AN &amp;&amp; cmdB B1 B2 ... BM
</code></pre>
      </div>
    </div>

    <p>Эта конструкция выполняет следующие действия. Вначале запускается команда cmdA с параметрами A1, A2, …, AN; если
      эта команда завершилась успешно (код выхода равен 0), то запускается команда cmdB с параметрами B1, B2, …, BM.
      Каждая команда использует стандартный вывод на экран.
      Формат вызова программы shellD2:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>shellD2 cmdA N A1 A2 ... AN cmdB M B1 B2 ... BM
</code></pre>
      </div>
    </div>

    <hr>

    <p><strong>Shell3:</strong> Написать программу shellD3, моделирующую конструкцию командного интерпретатора:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>cmdA A1 A2 ... AN || cmdB B1 B2 ... BM
</code></pre>
      </div>
    </div>

    <p>Эта конструкция выполняет следующие действия. Вначале запускается команда cmdA с параметрами A1, A2, …, AN; если
      эта команда завершилась с ошибкой (код выхода не равен 0), то запускается команда cmdB с параметрами B1, B2, …,
      BM. Каждая команда использует стандартный вывод на экран.
      Формат вызова программы shellD3:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>shellD3 cmdA N A1 A2 ... AN cmdB M B1 B2 ... BM
</code></pre>
      </div>
    </div>

    <hr>

    <p><strong>Shell4:</strong> Написать программу shellD4, моделирующую конструкцию командного интерпретатора:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>cmdA A1 A2 ... AN | cmdB B1 B2 ... BM
</code></pre>
      </div>
    </div>

    <p>Эта конструкция выполняет следующие действия. Вначале запускается команда cmdA с параметрами A1, A2, …, AN; вывод
      этой команды перенаправляется на вход команды команда cmdB с параметрами B1, B2, …, BM (т. е. организуется
      конвейер). Команда cmdB использует стандартный вывод на экран.
      Формат вызова программы shellD4:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>shellD4 cmdA N A1 A2 ... AN cmdB M B1 B2 ... BM
</code></pre>
      </div>
    </div>

    <hr>

    <p><strong>Shell5:</strong> Написать программу shellD5, моделирующую конструкцию командного интерпретатора:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>cmdA A1 A2 ... AN &lt; file
</code></pre>
      </div>
    </div>

    <p>Эта конструкция обеспечивает выполнение команды cmdA с параметрами A1, A2, …, AN, причем ввод этой команды
      перенаправляется из файла с именем file (который должен существовать). Команда cmdA использует стандартный вывод
      на экран.
      Формат вызова программы shellD5:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>shellD5 file cmdA N A1 A2 ... AN
</code></pre>
      </div>
    </div>

    <hr>

    <p><strong>Shell6:</strong> Написать программу shellD6, моделирующую конструкцию командного интерпретатора:
      19</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>cmdA A1 A2 ... AN &gt; file
</code></pre>
      </div>
    </div>

    <p>Эта конструкция обеспечивает выполнение команды cmdA с параметрами A1, A2, …, AN, причем вывод этой команды
      перенаправляется в файл с именем file. Если указанный файл отсутствует, то он создается, если он существует, то
      его прежнее содержимое удаляется.
      Формат вызова программы shellD6:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>shellD6 file cmdA N A1 A2 ... AN
</code></pre>
      </div>
    </div>

    <hr>

    <p><strong>Shell7:</strong> Написать программу shellD7, моделирующую конструкцию командного интерпретатора:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>cmdA A1 A2 ... AN &gt;&gt; file
</code></pre>
      </div>
    </div>

    <p>Эта конструкция обеспечивает выполнение команды cmdA с параметрами A1, A2, …, AN, причем вывод этой команды
      перенаправляется в файл с именем file. Если указанный файл отсутствует, то он создается, если он существует, то
      новое содержимое добавляется в его конец.
      Формат вызова программы shellD7:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>shellD7 file cmdA N A1 A2 ... AN
</code></pre>
      </div>
    </div>

    <hr>

    <p><strong>Shell8:</strong> Написать программу shellD8, моделирующую конструкцию командного интерпретатора:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>( cmdA A1 A2 ... AN ; cmdB B1 B2 ... BM ) &gt; file
</code></pre>
      </div>
    </div>

    <p>Эта конструкция обеспечивает последовательное выполнение команд cmdA и cmdB: вначале запускается команда cmdA с
      параметрами A1, A2, …, AN, затем запускается команда cmdB с параметрами B1, B2, …, BM. При этом вывод каждой
      команды перенаправляется в файл с именем file. Если указанный файл отсутствует, то он создается, если он
      существует, то его прежнее содержимое удаляется.
      Формат вызова программы shellD8:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>shellD8 file cmdA N A1 A2 ... AN cmdB M B1 B2 ... BM
</code></pre>
      </div>
    </div>

    <hr>

    <p><strong>Shell9:</strong> Написать программу shellD9, моделирующую конструкцию командного интерпретатора:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>(cmdA A1 A2 ... AN || cmdB B1 B2 ... BM ) | cmdC C1 C2 ... CP &gt;&gt; file
</code></pre>
      </div>
    </div>

    <p>Эта конструкция выполняет следующие действия. Вначале запускается команда cmdA с параметрами A1, A2, …, AN; если
      эта программа завершилась с ошибкой (код выхода не равен 0), то запускается команда cmdB с параметрами B1, B2, …,
      BM. Стандартный вывод успешно проработавшей команды перенаправляется на стандартный ввод команды cmdC с
      параметрами C1, C2, …, CP. Стандартный вывод команды cmdC перенаправляется в файл file, причем если файл не
      существует, то он создается, а если существует, то дополняется новыми данными.
      Формат вызова программы shellD9:</p>

    <div class="language-plaintext highlighter-rouge">
      <div class="highlight">
        <pre class="highlight"><code>shellD9 file cmdA N A1 A2 ... AN cmdB M B1 B2 ... BM cmdC P C1 C2 ... CP
</code></pre>
      </div>
    </div>
{% endblock %}