{% extends "utb/layout.html" %}
{% block title %}
Thread: работа с потоками POSIX thread, их синхронизация | UnixTaskbook
{% endblock %}
{% block project-name %}
Thread: работа с потоками POSIX thread, их синхронизация
{% endblock %}
{% block content %}
<h1 id="thread-работа-с-потоками-posix-thread-их-синхронизация">Thread: работа с потоками POSIX thread, их
    синхронизация</h1>

  <h2 id="формулировки-задач"><strong><em>Формулировки задач</em></strong></h2>

  <p><strong>Thread1:</strong> Реализовать варианты алгоритма нахождения суммы всех элементов исходного массива.
    Количество потоков для алгоритмов, использующих потоки, равно 2.</p>

  <hr>

  <p><strong>Thread2:</strong> Реализовать варианты алгоритма нахождения суммы всех элементов исходного массива.
    Количество потоков для алгоритмов, использующих потоки, равно 4.</p>

  <hr>

  <p><strong>Thread3:</strong> Реализовать варианты алгоритма нахождения суммы всех положительных элементов исходного
    массива. Количество потоков для алгоритмов, использующих потоки, равно 2.</p>

  <hr>

  <p><strong>Thread4:</strong> Реализовать варианты алгоритма нахождения суммы всех положительных элементов исходного
    массива. Количество потоков для алгоритмов, использующих потоки, равно 4.</p>

  <hr>

  <p><strong>Thread5:</strong> Реализовать варианты алгоритма нахождения среднего арифметического всех положительных
    элементов исходного массива. Количество потоков для алгоритмов, использующих потоки, равно 2. Результат должен
    быть вещественным числом (типа double).</p>

  <hr>

  <p><strong>Thread6:</strong> Реализовать варианты алгоритма нахождения среднего арифметического всех положительных
    элементов исходного массива. Количество потоков для алгоритмов, использующих потоки, равно 4. Результат должен
    быть вещественным числом (типа double).</p>

  <hr>

  <p><strong>Thread7:</strong> Реализовать варианты алгоритма нахождения количества всех положительных элементов
    исходного массива. Количество потоков для алгоритмов, использующих потоки, равно 2.</p>

  <hr>

  <p><strong>Thread8:</strong> Реализовать варианты алгоритма нахождения количества всех положительных элементов
    исходного массива. Количество потоков для алгоритмов, использующих потоки, равно 4.</p>

  <hr>

  <p><strong>Thread9:</strong> Реализовать варианты алгоритма нахождения суммы индексов всех положительных элементов
    исходного массива. Количество потоков для алгоритмов, использующих потоки, равно 2. Чтобы избежать переполнения,
    использовать для хранения суммы индексов переменную типа doubl* **Thread.</p>

  <hr>

  <p><strong>Thread10:</strong> Реализовать варианты алгоритма нахождения суммы индексов всех положительных элементов
    исходного массива. Количество потоков для алгоритмов, использующих потоки, равно 4. Чтобы избежать переполнения,
    использовать для хранения суммы индексов переменную типа double.</p>

  <hr>

  <p><strong>Thread11:</strong> Реализовать варианты алгоритма нахождения среднего арифметического всех элементов
    исходного массива с четными значениями (0, 2, -2, 4, -4, …, 100, -100). Количество потоков для алгоритмов,
    использующих потоки, равно 2. Результат должен быть вещественным числом (типа double).</p>

  <hr>

  <p><strong>Thread12:</strong> Реализовать варианты алгоритма нахождения среднего арифметического всех элементов
    исходного массива с четными значениями (0, 2, -2, 4, -4, …, 100, -100). Количество потоков для алгоритмов,
    использующих потоки, равно 4. Результат должен быть вещественным числом (типа double).</p>

  <hr>

  <p><strong>Thread13:</strong> Реализовать варианты алгоритма нахождения количества всех элементов исходного массива
    с четными значениями (0, 2, -2, 4, -4, …, 100, -100). Количество потоков для алгоритмов, использующих потоки,
    равно 2.</p>

  <hr>

  <p><strong>Thread14:</strong> Реализовать варианты алгоритма нахождения количества всех элементов исходного массива
    с четными значениями (0, 2, -2, 4, -4, …, 100, -100). Количество потоков для алгоритмов, использующих потоки,
    равно 4.</p>

  <hr>

  <p><strong>Thread15:</strong> Реализовать варианты алгоритма нахождения суммы индексов всех элементов исходного
    массива с четными значениями (0, 2, -2, 4, -4, …, 100, -100). Количество потоков для алгоритмов, использующих
    потоки, равно 2. Чтобы избежать переполнения, использовать для хранения суммы индексов переменную типа double.</p>

  <hr>

  <p><strong>Thread16:</strong> Реализовать варианты алгоритма нахождения суммы индексов всех элементов исходного
    массива с четными значениями (0, 2, -2, 4, -4, …, 100, -100). Количество потоков для алгоритмов, использующих
    потоки, равно 4. Чтобы избежать переполнения, использовать для хранения суммы индексов переменную типа double.</p>
{% endblock %}