{% extends "utb/layout.html" %}
{% block title %}Download: Скачать скрипт установки/удаления UnixTaskbook | UnixTaskbook{% endblock %}
{% block project-name %}Download{% endblock %}
{% block content %}
    <h1 id="download-скачать-скрипт-установкиудаления-unixtaskbook">
        Download: Скачать скрипт установки/удаления
        UnixTaskbook
    </h1>
    <h2 id="installation">
        <a href="https://unixtaskbook.com/media/download/v1.0.0/install.sh">Installation</a>
    </h2>
    <div class="highlight language-bash highlighter-rouge">
        <pre class="snippet"><code>/bin/bash <span class="nt">-c</span> <span class="s2">"</span><span class="si">$(</span>curl <span class="nt">-fsSL</span> https://unixtaskbook.com/media/download/v1.0.0/install.sh<span class="si">)</span><span class="s2">"</span></code></pre>
    </div>
    <h2 id="uninstallation">
        <a href="https://unixtaskbook.com/media/download/v1.0.0/uninstall.sh">Uninstallation</a>
    </h2>
    <div class="highlight language-bash highlighter-roug">
        <pre class="snippet"><code>/bin/bash <span class="nt">-c</span> <span class="s2">"</span><span class="si">$(</span>curl <span class="nt">-fsSL</span> https://unixtaskbook.com/media/download/v1.0.0/uninstall.sh<span class="si">)</span><span class="s2">"</span></code></pre>
    </div>
    </div>

<script src="/static/utb/js/clipboard.min.js"></script>
<script src="/static/utb/js/snippets.js"></script>
<script src="/static/utb/js/highlight.pack.min.js"></script>
<script src="/static/utb/js/tooltips.js"></script>
{% endblock %}
