{% extends "utb/layout.html" %}
{% block title %}
    UnixTaskbook | Development of a system for automatic verification of educational tasks in Linux
{% endblock %}
{% block project-name %}UnixTaskbook{% endblock %}
{% block content %}
    <h1 id="unixtaskbook">UnixTaskbook</h1>
    <h2 id="introduction">Introduction</h2>
    <p>
        Задачник реализован на языке C++ для Unix и включает ядро, обеспечивающее основную функциональность задачника, и
        расширяемый набор динамических библиотек, каждая из которых содержит набор задач по определенной теме.
    </p>
    {% load static %}
    <img src="{% static "utb/images/diagram.jpg" %}" alt="Hi!" />
    <footer class="site-footer">
        <span class="site-footer-credits"><a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备2022053745号</a></span>
    </footer>
{% endblock %}
